body{
  user-select: none;
  text-align: center;
  transition: 0.3s;
  background: var(--background-color);
  color: var(--text-color);
}

#bronzebingo{
  margin: 0 auto;
  border-collapse: collapse;
  height: 70vh;
  width: 70vh;
}

th, td{
  margin: 0 auto;
  border: 3px solid var(--border-color);
  width: 25%;
  background: var(--tile-background);
  cursor: pointer;
  transition: 0.5s;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  color: var(--tile-textcolor);
}

.done{
  background: var(--tile-done);
  color: var(--tile-done-textcolor);
  cursor: auto;
}

.winningrow{
  background: var(--tile-winning);
  color: var(--tile-winning-textcolor);
  cursor: auto;
}

h1{
  font-size: 6vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.restart{
  font-size: var(--restart-text-size);
  height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.restartopen{
  padding-bottom: var(--restart-text-padding);
}

.link{
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: var(--link-color);
  margin: 0 5px;
}

.suggestions{
  margin: 20px;
}

.bingo{
  color: var(--tile-winning);
}

#bingo{
  transition: 0.3s;
  font-size: 8vh;
}

.modeselect{
  margin-right: 15px;
}

.resetbutton{
  display: inline-block;
  padding: 7px 15px;
  margin: 20px 0 20px 0;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: var(--tile-textcolor);
  background-color: var(--tile-background);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  transition: 0.05s ease-in-out;
  cursor: pointer;
}

.resetbutton:hover{
  background-color: var(--tile-background);
}

.resetbutton:active{
  background-color: var(--tile-background);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

@media screen and (orientation:portrait) {
  body{
    margin: 0px;
  }

  #bronzebingo{
    height: 100vw;
    width: 100vw;
  }

  th, td{
    font-size: 4vw;
    transition: 0.15s;
    border-width: 2px;
  }
  
  h1{
    font-size: 8vw;
  }

  p{
    font-size: 3vw;
  }

  .modeselect{
    font-size: 4.5vw;
  }

  .restart{
    font-size: var(--restart-text-size);
  }

  .link{
    font-size: 1.7em;
  }

  .suggestions{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .resetbutton{
    font-size: 3em;
    margin: 1.5em;
  }
}