body{
  user-select: none;
  text-align: center;
  transition: 0.3s;
  background: var(--background-color);
  color: var(--text-color);
}

#bronzebingo{
  margin: 0 auto;
  border-collapse: collapse;
  height: 70vh;
  width: 70vh;
}

th, td{
  margin: 0 auto;
  border: 3px solid var(--border-color);
  width: 25%;
  background: var(--tile-background);
  cursor: pointer;
  transition: 0.5s;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  color: var(--tile-textcolor);
}

.done{
  background: var(--tile-done);
  color: var(--tile-done-textcolor);
  cursor: auto;
}

.winningrow{
  background: var(--tile-winning);
  color: var(--tile-winning-textcolor);
}

h1{
  font-size: 6vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

.restart{
  font-size: var(--restart-text-size);
  height: 0px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.restartopen{
  padding-bottom: var(--restart-text-padding);
}

.link{
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  color: var(--link-color);
}

.suggestions{
  margin: 20px;
}

.bingo{
  color: var(--tile-winning);
}

#bingo{
  transition: 0.3s;
  font-size: 8vh;
}

.modeselect{
  margin-right: 15px;
}

@media screen and (orientation:portrait) {
  body{
    margin: 0px;
  }

  #bronzebingo{
    height: 100vw;
    width: 100vw;
  }

  th, td{
    font-size: 4vw;
    transition: 0.15s;
    border-width: 2px;
  }
  
  h1{
    font-size: 8vw;
  }

  p{
    font-size: 3vw;
  }

  .modeselect{
    font-size: 4.5vw;
  }

  .restart{
    font-size: var(--restart-text-size);
  }

  .link{
    font-size: 3vw;
  }
}