body{
  user-select: none;
  text-align: center;
  transition: 0.3s;
}

#bronzebingo{
  margin: 0 auto;
  border-collapse: collapse;
  height: 70vh;
  width: 70vh;
}

th, td{
  margin: 0 auto;
  border: 3px solid black;
  width: 25%;
  background: #808080;
  cursor: pointer;
  transition: 0.5s;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
}

.done{
  background: #16B3C4;
  cursor: auto;
}

.winningrow{
  background: #0FB535;
}

h1{
  font-size: 6vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

#restarttext{
  font-size: 2vh;
  margin-bottom: 10px;
}

.link{
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  cursor:pointer;
  color: blue;
}

.suggestions{
  margin-top: 10px;
}

.bingo{
  font-weight: bold;
  color: #0FB535;
}

#bingo{
  transition: 0.3s;
}

.modeselect{
  margin-right: 15px;
}

@media screen and (orientation:portrait) {
  body{
    margin: 0px;
  }

  #bronzebingo{
    height: 100vw;
    width: 100vw;
  }

  th, td{
    font-size: 4vw;
    transition: 0.15s;
  }
  
  h1{
    font-size: 8vw;
  }

  p{
    font-size: 3vw;
  }
}

/* Classes for darkmode */

.darkbody{
  color: whitesmoke;
  background-color: #363636;
}

.darkdone{
  background: #0d828f;
  cursor: auto;
}

.darkwinningrow{
  background-color: #097523;
}

.darkbingo{
  font-weight: bold;
  color: #097523;
}

.darkbingo{
  font-weight: bold;
  color: #097523;
}

.darklink{
  color: lightblue;
}